<template>
    <div class="panel panel-default">
        <div class="panel-heading">Configuração de ambiente</div>
        <div class="container-fluid boxcontainer">
            <div class="container-fluid">    
              <div class="">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Clientes Auth2</div>
                  <div class="panel-body pb-custon">
                  <!-- Table -->
                    <table class="table table-bordered table-hover t-custon">
                        <thead>
                            <tr>    
                                <!--<th class="codth">Codigo</th>-->
                                <th class="h-mobile">-</th>
                                <th class="">Inquilino</th>                  
                                <th class="h-mobile">Prefix</th>
                                <th class="h-mobile">Cnpj</th>                   
                                <th class="h-mobile">Empresa</th>
                                <th class="">Conn</th>
                                <th class="">Base de dados</th>
                                <th class="h-mobile">Editar</th>
                                <th class="h-mobile">Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                        	
                            <!--efeito angular de persistencia-->
                
                            <tr>
                                <td class="h-mobile">
                                     
                                </td>
                                <td class="">
                                     
                                </td>                   
                                <td class="h-mobile">
                                    
                                </td>
                                <td class="h-mobile">
                                    
                                </td>
                                <td class="h-mobile">
                                    
                                </td>
                                <td class="">
                                    
                                </td>
                                <td class="">
                                    
                                </td>
                                <td class="h-mobile">
                                    
                                </td>
                                <td class="h-mobile">
                                    
                                </td>                                   
                            </tr>
                        </tbody>        
                    </table>
                  </div>
                </div>                   
              </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

  name: 'Dashboard',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>