<template>
	<div>
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">Este {{ item }}  está prestes a ser excluido!</h4>
		      </div>
		      <div class="modal-body">
		        <div class="row">
		          <div class="text-modal"> Você deseja realmente excluir {{ item }} este ?</div>
		        </div>
		      </div>
		      <div class="modal-foot">
		        <button type="button" class="btn btn-default btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-share-alt"></span> Cancelar</button>
		        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="Delete()"><span class="glyphicon glyphicon-remove-circle"></span> Excluir</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div>
		<div>
	    	<notifications class="noticiation" group="delete" classes="n-delete" position="top right"/>
	  	</div>
	</div>
</template>
<script>
import Http from '../services/http'; 

	export default {
		name: 'Modaldelete',

		props: ['item'],

	    data () {
	      return {
	        status: '',
	        duration: 3000,
	        speed: 1000,
	        notice: [],
	      }
	    },

	    methods: {
	     Delete() {
            this.$emit('getMethod');
	     },
	    },
	}
</script>
<style lang="scss">
.notification.n-delete{
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #696969;
  background: #E8E8E8;
  border-left-color: #A9A9A9;

  border-left: 5px solid #A9A9A9;

  .notification-title {
    letter-spacing: 1px;
    font-size: 10px;
    color: #696969;
  }
}
</style>