<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">Configuração de ambiente</div>
      <div class="container-fluid boxcontainer">
        <span class="pull-right">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="modal" data-target=".bs-example-modal-save">
            Cadastrar <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </button>
        </span>        
        <div class="row">
          <div class="col-md-12 boxshow">
            <p class="title-table"> 
              <span class="glyphicon glyphicon-user"></span> Clientes 
            </p>
            <div class="">
              <nav class="navbar navbar-default cs-nav">
                <div class="container-fluid">
                  <div class="navbar-header cs-nv-header">
                    <div class="input-group search">
                      <span class="input-group-addon input-icon"><span class="glyphicon glyphicon-search"></span></span>
                      <input type="text" class="form-control input-square" name="searchcontacts" v-model="search" placeholder="Pesquise">                      
                    </div>
                  </div>
                </div>
              </nav>
              <table class="table table-bordered table-striped table-hover t-custon">
                  <thead>
                      <tr>    
                          <!--<th class="codth">Codigo</th>-->
                          <th class="h-mobile"><a class="pointer" v-on:click.prevent="sort('id')">-</a></th>
                          <th class=""><a class="pointer" v-on:click.prevent="sort('tenant')">Cliente</a></th>                  
                          <th class=""><a class="pointer" v-on:click.prevent="sort('cnpj')">Cnpj</a></th>                   
                          <th class="h-mobile"><a class="pointer" v-on:click.prevent="sort('enterprise')">Empresa</a></th>
                          <th class="h-mobile"><a class="pointer" v-on:click.prevent="sort('datebegine')">Inicio</a></th>
                          <th class="h-mobile"><a class="pointer" v-on:click.prevent="sort('name')">Contato</a></th>                                  
                          <th class="">Editar</th>
                          <th class="">Excluir</th>
                      </tr>
                  </thead>
                  <tbody>                
                       <tr v-for="(tenant, index) in Tenants">
                          <td class="id h-mobile" v-text="tenant.id"></td>
                          <td class="" v-text="tenant.tenant"></td>                   
                          <td v-text="tenant.cnpj"></td>
                          <td class="h-mobile" v-text="tenant.tenant"></td>
                          <td class="h-mobile" v-text="tenant.datebegin"></td>
                          <td class="h-mobile" v-text="tenant.name"></td>
                          <td class="small pointer" data-toggle="modal" data-target=".bs-example-modal-save" v-on:click="Edit(index, tenant.id)"><span class="glyphicon glyphicon-pencil btn-actions" aria-hidden="true"></span></td>
                          <td class="small pointer" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-trash btn-actions" aria-hidden="true" v-on:click="Trash(index, tenant.id)"></span></td>                                   
                      </tr>
                  </tbody>        
              </table>
              <!--pagination-->
              <div class="pull-right">
                <cds-pagination class="nav-pagination" :source="pagination" v-on:navigate="getTenant"></cds-pagination>
              </div>
              <div class="modalTrash">  
                <ab-modal :item="'cliente'" v-on:getMethod="onDelete"></ab-modal>
              </div>
              <div>
                <notifications class="noticiation" group="sucess" position="top right"/>
                <notifications class="noticiation" group="update" position="top right"/>       
                <notifications class="noticiation" group="442" position="top right"/>
                <notifications class="noticiation" group="empty" position="top right"/>
              </div>                                     
            </div>
          </div>
          <div id="ModalCreate" class="modal fade bs-example-modal-save" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="gridSystemModalLabel">Cadastro</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12 radius">
                      <div class="form-horizontal">                     
                        <vue-form ref="formtenant" :state="formstate" @submit.prevent="onSubmit">
                          <div class="form-group">
                              <validate class="col-xs-12 col-sm-12 col-md-12" :class="fieldClassName(formstate.tenant)" tag="label">
                                <!--:class="fieldClassName(formstate.enterprise)"-->  
                                <label for="enterprise" class="pull-left">Empresa *</label>
                                <input type="text" class="form-control input" id="tenant" name="tenant" v-model="tenant.tenant" minlength="2" autofocus="" required>
                                <field-messages name="tenant" show="$submitted" class="notice">
                                  <!--<div class="help_notice_sucess"><span class="glyphicon glyphicon-ok-sign"></span> Ok!</div>-->
                                  <div slot="required" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                      Obrigatório!
                                  </div>
                                  <div slot="minlength" class="help_notice_error">
                                      <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        Mínimo 2 Caracteres!
                                  </div>
                                </field-messages>
                              </validate>
                          </div>
                          <div class="form-group">
                              <validate class="col-xs-12 col-sm-12 col-md-12" :class="fieldClassName(formstate.cnpj)" tag="label">
                                <label for="cnpj" class="pull-left">Cpf/Cnpj *</label>
                                <input type="text" class="form-control input" id="cnpj" name="cnpj" v-model="tenant.cnpj" v-mask="'###.###.###-##', '##.###.###/####-##'" minlength="14" maxlength="18" required>
                                <field-messages name="cnpj" show="$submitted" class="notice">
                                  <div slot="required" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span> 
                                    Obrigatório!
                                  </div>
                                  <div slot="minlength" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-signt"></span>
                                    Minimo 14 Caracteres!
                                  </div>
                                  <div slot="maxlength" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    Máximo 18 Caracteres!
                                  </div>                                
                                </field-messages>
                              </validate>
                          </div>              
                          <div class="form-group">
                              <validate class="col-xs-12 col-sm-12 col-md-12" :class="fieldClassName(formstate.email)" tag="label">
                                <label for="email" class="pull-left">Email *</label>
                                <input type="email" class="form-control input" id="email" name="email" v-model="tenant.email" required>

                                <field-messages name="email" show="$submitted" class="notice">
                                  <div slot="required" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    Obrigatório!
                                  </div>
                                  <div slot="email" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-signt"></span> 
                                    Insira um e-mail válido!
                                  </div>                                
                                </field-messages>
                              </validate>                            
                          </div>
                          <div class="form-group">
                              <validate class="col-xs-12 col-sm-12 col-md-12" :class="fieldClassName(formstate.name)" tag="label">
                                <label for="name" class="pull-left">Usuário *</label>
                                <input type="text" class="form-control input" id="name" name="name" v-model="tenant.name" minlength="2" required>

                                <field-messages name="name" show="$submitted" class="notice">
                                  <div slot="required" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    Obrigatório!
                                  </div>
                                  <div slot="minlength" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    Minimo 2 Caracteres!
                                  </div>
                                </field-messages>
                              </validate>
                          </div>                         
                          <div class="form-group">
                              <validate class="col-xs-12 col-sm-12 col-md-12" :class="fieldClassName(formstate.email)" tag="label">
                                <label for="phone" class="pull-left">Telefone *</label>
                                <input type="text" class="form-control input" id="phone" name="phone" v-model="tenant.phone" v-mask="'(##) ####-####', '(##) #####-####'" required>

                                <field-messages name="phone" show="$submitted" class="notice">
                                  <div slot="required" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    Obrigatório!
                                  </div>
                                  <div slot="phone" class="help_notice_error">
                                    <span class="glyphicon glyphicon-exclamation-signt"></span> 
                                    Insira um e-mail válido!
                                  </div>                                
                                </field-messages>
                              </validate>                            
                          </div>  
                          <br>                               
                          <div class="form-group button_insert">
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                <button  type="submit" class="btn btn-success pull-left"><span class="glyphicon glyphicon-save"></span> Salvar</button>


                                <button  type="reset" class="btn btn-primary pull-left button_clean" v-on:click="Cleanform()"><span class="glyphicon glyphicon-erase"></span> Limpar</button> 

                                <button type="button" class="btn btn-default btn-cancel pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-share-alt"></span> Cancelar</button>  
                              </div>                            
                          </div>                   
                        </vue-form>              
                      </div>
                    </div>                      
                  </div>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>        
        </div>
      </div> 
    </div>
  </div>   
</template>

<script>
import Http from '../../services/http'; 

export default {

    name: 'Ambiance',

    data () {
      return {
        tenants: {},
        id: null,
        index: null,
        pagination: {},        
        formstate: {},
        status: '',
        duration: 3000,
        speed: 1000,
        notice: [],
        errors: {},        
        tenant: {
            tenant: '',
            cnpj: '',
            email: '',
            name: '',            
            phone: '',
        },
        colunaSort: 'id',
        colunaOrder: 'desc',
        search: '',       
      }
    },

    created() {
        this.getTenant();
    },

    computed: {
        Tenants: function() {
            const filter = this.search;
            const list = _.orderBy(this.tenants, this.colunaSort, this.colunaOrder)

            if (_.isEmpty(this.search)) {
              return list;
            }

            return _.filter(list, tenant => tenant.tenant.indexOf(filter) >= 0);
        }
    }, 

    methods: {

      filter: function(field) {

      },

      sort: function(colum) {

        if (this.colunaSort == colum) {
            this.colunaOrder = (this.colunaOrder == 'asc') ? 'desc' : 'asc';
        }
      
        else{               
            this.colunaSort = colum;
            this.colunaOrder = 'asc';
        }
      },

      fieldClassName(field) {
        if(!field) {
          return '';
        }

        if((field.$submitted) && field.$valid) {
          return 'has-success';
        }
        if((field.$submitted) && field.$invalid) {
          return 'has-error2';
        }
      },

      Scrolltop: function () {
        $("html,body").scrollTop(120);
      },


      Cleanform: function (){       
        this.$refs.formtenant.reset(); 
        this.tenant = {
          tenant: null,
          cnpj: null,
          email: null,
          name: null,            
          phone: null,
        };
      },

      getTenant: function(page){
        let vm = this;
        page === "undefined" || !page ? page = 1 : page;
        Http.get('/ambiance?page=' + page)
        .then(function(response){
            vm.tenants = response.data.data;
            vm.pagination = response.data;
            console.log(response)
        });
      },           

      onSubmit: function () {
        if(this.formstate.$valid){
          if(this.id == null){    
              event.preventDefault();

              var vm = this, newtenant = vm.tenant;

              Http.post('/addambiance', newtenant)
              .then(response => {
                //this.tenants.unshift(response.data.result[0]); 
                
                $('#ModalCreate').modal('hide');
                
                this.getTenant();
                this.modalbutton = 'modal';
                this.status = response.status;
                this.notice = response.data.SUCESS;
                this.$notify({
                  group: 'sucess', 
                  title: '<p class="title_notice"> Cadastrado com sucesso #' + this.status + '</p>',
                  text: '<p class="text_notice"> <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> ' + this.notice + '</p>', 
                  type: 'success',  
                  duration: vm.duration,
                  speed: vm.speed
                });   
                this.Cleanform();         
              })
              .catch(error => {
                this.errors = error.response.data.errors;
                this.status = error.response.status;
                this.notice = this.errors['tenant'][0]; 
                this.$notify({
                  group: '442', 
                  title: '<p class="title_notice"> Aviso #' + this.status + '</p>',
                  text: '<p class="text_notice"> <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> ' + this.notice + '</p>', 
                  type: 'warn',  
                  duration: this.duration,
                  speed: this.speed
                });
              });
          }else{
            this.onUpdate();
          }
        }else{
          this.$notify({
            group: 'empty', 
            title: '<p class="title_notice"> Campos Obrigatórios #0</p>',
            text: '<p class="text_notice"> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Verifique os campos obrigatórios. </p>', 
            type: 'error',  
            duration: this.duration,
            speed: this.speed,
          });
        }
      },

      Edit: function(index, id) {
        this.id = id;

        this.index = index;
        
        this.tenant = JSON.parse(JSON.stringify(this.tenants[index]));
        
        this.Scrolltop();
      },

      onUpdate: function() {

        var id = this.id;
        
        event.preventDefault();

        var vm = this, uptenant = vm.tenant; 

        Vue.set(this.tenants, this.index, this.tenant);
        
        Http.put('/upambiance/' + id, uptenant)
        .then(response => {

          $('#ModalCreate').modal('hide');

          this.status = response.status;
          this.notice = response.data.SUCESS;
          this.Cleanform();
          this.$notify({
            group: 'update', 
            title: '<p class="title_notice"> Atualizado com sucesso #' + this.status + '</p>',
            text: '<p class="text_notice"> <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> ' + this.notice + '</p>', 
            duration: vm.duration,
            speed: vm.speed
          }); 

        })
        .catch(error => {

        });
        this.id = null;
        this.index = null;        
      },

      Trash: function(index, id) {
        this.id = id;
        this.index = index;
      },

      onDelete: function(){
        this.tenants.splice(this.index, 1);

        Http.delete('/delambiance/' + this.id)
        .then(response => {
          this.getTenant();          
          this.status = response.status;
          this.notice = response.data.SUCESS;
          this.$notify({
            group: 'delete', 
            title: '<p class="title_notice"> Excluido com sucesso #' + this.status + '</p>',
            text: '<p class="text_notice"> <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> ' + this.notice + '</p>', 

            duration: this.duration,
            speed: this.speed
          });
        })
        .catch(error => {

        });
        this.id = null;
        this.index = null;
      }
    },   
}


</script>

<style lang="scss">

</style>