@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

.has-success > input {
    border-color: #66CDAA !important;
    outline: 0 !important;
    -webkit-box-shadow:none !important;
    box-shadow:none !important;    
}

.has-error2 > input {
    border-color: #FF4040;
    outline: 0 !important;    
    -webkit-box-shadow:none !important;
    box-shadow:none !important;  
}

input, button, .cs-nav{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.cs-nav{
    margin-bottom:0px !important;
}

.input{
    font-family: 'Work Sans', sans-serif !important;    
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
    outline:0 !important;    
    -webkit-box-shadow:none !important;
    box-shadow:none !important;    
}

.input > .form-control:focus{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:50% !important;
    outline:0 !important;    
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
}

.input-icon{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;    
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

.help_notice_sucess{
    width:92%;
    font-size:13px !important;
    text-align:right !important;    
    color: #66CDAA !important;
    z-index: 8 !important;
    position: absolute !important;
    top:65px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 6px 1px 10px;
    opacity:0.9;
}

.help_notice_error {
    float:right;
    right:10px !important;
    font-size:12px !important;
    text-align:right !important;
    color: #e54d42 !important;
    position: absolute !important;
    top:65px;
    /*background: #d9534f !important;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 6px 1px 10px;
    opacity:0.9;

}

.notice{
    margin-right:30%;
}

.sub-nav {
    margin-top:-22px;
    background: #337ab7;
}

.sub-nav a{
    color:#fff;
}

.nav>li>a:focus, .nav>li>a:hover{
    background:#696969 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;    
}

.panel-heading{
    margin-bottom:30px !important;
}

.boxcontainer{
    padding-left:1%;
    padding-bottom:150px !important;
}

.boxform{

    border:1px #d3e0e9 solid;
    padding-top:15px;
    padding-bottom:20px;
}

.boxshow{
    padding-bottom:20px;
}

.radius{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}

.pb-custon{
    padding:0px !important;
}

.t-custon{
    margin-top:7px !important;
}

.nav-pagination{
    margin-right:20px;
    margin-bottom:12px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;    
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

.noticiation{
    margin-top:5px !important;
}

.title_notice{
    font-size:13px !important;
}

.text_notice{
    font-size:14px !important;
    padding:0 !important;
}

.small{
    width:20px !important;
    text-align:center !important;
}

.pointer{
    cursor:pointer !important;
}

.none{
    cursor:none !important;   
}

.button_clean{
    margin-left:20px !important;
}

.modal-foot{
    text-align:right !important;
    padding-bottom:15px !important;
    padding-right:15px;
}

.modal-title{
    font-family: 'Work Sans', sans-serif !important; 
    font-size:15px !important;
    color:#000 !important;    
}

.btn-danger{
    background:#FF4040 !important;
}

.modal-body{
    text-align:center !important;
}

.modal-content{
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    border:none !important;
}

.btn-cancel{
    margin-right:5px !important;
}

.modal{
    top:0% !important;
}

.btn-actions{
    color:#337ab7 !important;
    font-size:15px !important;
    padding:5px !important;
}

.text-modal{
    padding:25px !important;
}

.seach{
    width:100% !important;
}

.title-table{
    font-size:17px !important;
    margin-top:-5px;   
}

.cs-nv-header{
    margin-top:12px !important;
    margin-bottom:12px !important;
}

.id{
    width:20px !important;
}

@media screen and (max-width: 767px) {
    .h-mobile{
        display:none !important;
    }  

    .boxshow{
        margin-top:50px;
    } 
}


